body {
  font-family: Arial, Helvetica, sans-serif;
}

#result {
  text-align: right;
  background-color: turquoise;
  border: 2px solid black;
  font-size: 36px;
  padding: 5px;
}

button {
  border-radius: 8px;
  font-size: 24px;
  border: 2px solid black;
  padding: 16px;
}

/* What should my selector be to get all number buttons? */
button.number {
  background-color: blueviolet;
  { &:hover { background-color: white; } }
}

/* What should my selector be to get all the number buttons being hovered over? */
button.number:hover {
  background-color: white;
}

/* What should my selector be to get all the operator buttons? */
button.operator {
  background-color: blue;
}

/* What should my selector be to get all the operator buttons being hovered over? */
button.operator:hover {
  background-color: white;
}

/* Lets change all of the number button colors only if the screen is small */
@media(max-width: 800px) {
  button.number {
    background-color: red;
  }
}
