body {
  font-family: Arial, Helvetica, sans-serif;
}

#result {
  text-align: right;
  background-color: turquoise;
  border: 2px solid black;
  font-size: 36px;
  padding: 5px;
}

button {
  border-radius: 8px;
  font-size: 24px;
  border: 2px solid black;
  padding: 16px;
}

button.number {
  background-color: blueviolet;
  &:hover { background-color: white; }
}

button.operator {
  background-color: blue;
  &:hover { background-color: white; }
}

@media(max-width: 800px) {
  button.number {
    background-color: red;
  }
}
